
{% extends 'base.html'%}
{% load static %}
{% block content %}


<link rel="stylesheet" href="{% static 'css2/main.css' %}" />
    <div class="hero-wrap" style="background-image: url({{article.get_image}});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
             <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% url 'home' %}">Home</a></span> <span>{{article.title}}</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{article.title}}</h1>
          </div>
        </div>
      </div>
    </div>

<link rel="stylesheet" href="{% static 'css3/main.css' %}" />

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>{{ article.title}}
							</h2>
                            <p>{{ article.desciption}}</p>
						</header>
						<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
					</section>

                        <h4 class="mt-5"> Date published: {{article.created}}</h4>
<!---------Gallery of the article---------->
			<!-- Features -->
				<div id="features-wrapper">
					<div class="container">
						<div class="row">
                              {% for image in images %}
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="{{image}}" alt="" /></a>
									</section>

							</div>
                            {% endfor %}
						</div>

					</div>
				</div>



<!--End Gallery-->

<section class="ftco-section">
    	<div class="container">
    		<div class="row d-flex">
<!--    			<div class="col-md-6 d-flex ftco-animate">-->
    			</div>
    			<div class="col-md-6 pl-md-5 ftco-animate">
                    {% if request.user.is_authenticated %}

<!--             -----------       comment section ----------------->
                <h3>Comment Section</h3>
                {% for comment in comments %}
                  <div class="comment">
                    <p class="info">
                        <strong><h5>Comment by {{ request.user.username }}</strong> on {{ comment.date_added }}</h5>
<!--                      <p style="margin-left:20px;">{{ comment.date_added }}-->
                    </p>
                      <h4 style="margin-left: 30px;">{{ comment.body|linebreaks }}</h4>

                  </div>
                {% empty %}
                  <p>There are no comments yet.</p>
                {% endfor %}

                    <!--             -----------       comment add ----------------->
                    {% if new_comment %}
                  <h4>Your comment has been added.</h4>
                    {% else %}
                  <h3>Add a new comment</h3>
                  <form action="." method="post">
                      {{ comment_form.as_p }}
                    {% csrf_token %}
                    <p style="width:10px;"><input type="submit" value="Add comment"></p>
                  </form>
                    {% endif %}
                    <!----------------- LIKES ---------------------------->
      <form action="{% url 'blogpost_like' article.id %}" method="POST">
        {% csrf_token %}
        {% if post_is_liked %}
        <button type="submit" name="id" value="{{article.id}}" class="btn btn-info">Unlike</button>
        {% else %}
        <button type="submit" name="id" value="{{article.id}}" class="btn btn-info">Like</button>
          {% endif %}
            </form>
<strong class="text-secondary">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>

<!--     -------------- Favorite-------------->
                    <div id="favorite-section">
                        {% if not favorited %}
        <a href="{% url 'favorite_post' article.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark bi-lg" viewBox="0 0 16 16">
  <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
        </svg></a>
          {%else%}
<a href="{% url 'favorite_post' article.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
</svg></a>
            {%endif%}
                    <a href="{% url 'update_post' article.id %}"><button type="button" class="btn btn-outline-info mt-7" style="margin-top:0px; margin-left: 0px;">Update</button></a>
                    <a href="{% url 'delete_post' article.id %}"><button type="button" class="btn btn-outline-danger" style="margin-left: 0px; margin-top: 0px;">Delete</button></a>
    		</div>
                    {% endif%}
<!--    <nav aria-label="...">-->
<!--    {% if page_obj.has_previous %}-->
<!--  <ul class="pagination pagination-lg">-->
<!--      <li class="page-item"><a class="page-link" href="{% url 'category' %}?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>-->
<!--   {% endif %}-->
<!--    <li class="page-item active" aria-current="page">-->
<!--      <span class="page-link">{{ page_obj.number }}</span>-->
<!--    </li>-->
<!--    {% if page_obj.has_next %}-->
<!--    <li class="page-item"><a class="page-link" href="{% url 'category' %}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>-->
<!--  {% endif %}-->
<!--  </ul>-->
<!--</nav>-->
                </div>
            </div>
        </div>
</section>


{% endblock %}
