{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="hero-wrap" style="background-image: url({% static 'images/img.png' %});" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
             <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% url 'home' %}">Home</a></span> <span>Favorite Posts</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Favorite Posts</h1>
          </div>
        </div>
      </div>
    </div>
<div class="mt-10 mb-10" style="padding-top:100px; padding-bottom:100px;">
    <h1 style="color: #c72055; font-size:30px; font-weight:bold; text-align:center;">Favorite Posts</h1>
</div>
 <div class="container">
        <div class="row d-flex">
            {% for article in favorite_posts %}
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="{% url 'article' article.id %}" class="block-20" style="background-image:url({{article.get_image}})">
              </a>
              <div class="text p-4 d-block">
              	<div class="meta mb-3">
                  <div><a href="#">{{ article.created}}</a></div>

                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-3"><a href="{% url 'article' article.id %}">{{ article.title }}</a></h3>
                <p> {{article.desciption|truncatewords:10}}</p>
              </div>
            </div>
          </div>
            {% empty %}
            <div class="container-fluid">
            <h1> No favorite posts found</h1>
            </div>
        </div>
                 {% endfor %}

      </div>


{% endblock %}